.player {
    width: 60%;
    height: 60vh;
    border-radius: 10px;
    background-color: #404a4a;
    position: relative;
    box-shadow: 8px 14px 45px -3px rgba(0,0,0,0.75);
}

video {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.vid {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.title {
    position: absolute;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0, 0.3)
}

h3 {
    background: linear-gradient(#fddf46, #17D5D1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.player .title{
    opacity: 0;
    transition: all 0.2s;
}

.player:hover .title{
    opacity: 1;
    transition: all 0.2s;
}

.live {
    margin-right: 10px;
}

canvas {
    display: none;
}

#inform {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 35%;
}

.code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #404a4a;
    border-radius: 10px;
    color: #fddf46;
    padding: 0 10px;
}

#copy {
    width: 5%;
    background-image: url(https://img.icons8.com/material-outlined/16/000000/copy.png);
    background-repeat:   no-repeat;
    background-position: center center;
    margin: 5px 0;
}